$white-color: #ffffff;
$black-color: #000000;
$orange-color: #ff6b08;

:root {
  --primary-text-header-color: #ffffff;
  --movie-title-color: #000000;
  --color-genre: #ff6b08;
  --logo-fill: #818181;
  --primary-color-text-modal: #000000;
  --secondary-color-text-modal: #8c8c8c;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
