<div class="developers__backdrop is-hidden">
  <div class="developers__modal">
    <h2 class="developers__title">Mivina Team</h2>
    <div class="wrap">
      <ul class="card-list">
        <li class="card-link_footer">
          <img
            src="./images/dev-photo/sem.jpg"
            alt="developer"
            class="photo-teammate"
          />
          <div class="developer__info--sem">
            <p class="developer__name">Sem Kholodov</p>
            <p class="developer__position">Team Lead, JS Jedi</p>
          </div>
        </li>
        <li class="card-link_footer stepa">
          <img
            src="./images/dev-photo/stepa.jpg"
            alt="developer"
            class="photo-teammate"
          />
          <div class="developer__info--stepa">
            <p class="developer__name">Stepan Kryukov</p>
            <p class="developer__position">Scrum Master, Developer</p>
          </div>
        </li>
        <li class="card-link_footer artur">
          <img
            src="./images/dev-photo/artur.jpg"
            alt="developer"
            class="photo-teammate"
          />
          <div class="developer__info--artur">
            <p class="developer__name">Artur Myasnikov</p>
            <p class="developer__position">Developer</p>
          </div>
        </li>
        <li class="card-link_footer nikita">
          <img
            src="./images/dev-photo/nik.jpg"
            alt="developer"
            class="photo-teammate"
          />
          <div class="developer__info--nikita">
            <p class="developer__name">Nikita Agafonov</p>
            <p class="developer__position">Developer, JS Jedi</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
