<div class="backdrop developers__backdrop is-hidden">
  <div class="developers__modal">
    <h2></h2>
      <ul>
        <li>
            <img src="./images/temporary-image.jpg" alt="">
            <div class="developer__info">
                <p></p>
                <p></p>
            </div>
        </img></li>
        <li>
            <img src="./images/temporary-image.jpg" alt="">
            <div class="developer__info">
                <p></p>
                <p></p>
            </div>
        </img></li>
        <li>
            <img src="./images/temporary-image.jpg" alt="">
            <div class="developer__info">
                <p></p>
                <p></p>
            </div>
        </img></li>
        <li>
            <img src="./images/temporary-image.jpg" alt="">
            <div class="developer__info">
                <p></p>
                <p></p>
            </div>
        </img></li>
      </ul>
    
  </div>
</div>
