<header class="header-section">
  <div class="header__wrapper">
    <a href="./index.html" class="header__logo">
      <img src="./images/SVG/film.svg" alt="Logo" class="header__icon" />
    </a>
    <p class="filmoteka">Filmoteka</p>
    <nav class="header__nav">
      <ul class="header__link-list">
        <li class="header__item">
          <a href="./index.html" class="header__link active" data-link-home
            >HOME</a
          >
        </li>
        <li class="header__item">
          <a href="./library.html" class="header__link" data-link-library
            >MY LIBRARY</a
          >
        </li>
        <li>
          <button class="registration-btn">
            <img
              src="./images/SVG/avatar.svg"
              alt="Registration"
              width="28px"
              height="28px"
            />
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header__input-wrapper">
    <label for="" class="header__label">
      <input type="text" class="header__input" placeholder="Movie search" />
      <img
        src="./images/SVG/search.svg"
        alt="Icon search"
        class="header__input-icon"
      />
    </label>
  </div>
</header>
