<header class="header-section header-section-library">
  <div class="header__wrapper header__wrapper-libraty">
    <a href="./index.html" class="header__logo">
      <img src="./images/SVG/film.svg" alt="Logo" class="header__icon" />
    </a>
    <p class="filmoteka">Filmoteka</p>
    <nav class="header__nav">
      <ul class="header__link-list">
        <li class="header__item" data-navigation-link>
          <a href="./index.html" class="header__link disabled" data-link-home>
            HOME
          </a>
        </li>
        <li class="header__item" data-navigation-link>
          <a
            href="./library.html"
            class="header__link active disabled"
            data-link-library
          >
            MY LIBRARY
          </a>
        </li>
        <li>
          <button class="registration-btn">
            <img
              src="./images/SVG/avatar.svg"
              alt="Registration"
              width="28px"
              height="28px"
            />
          </button>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header__wrapper-btn">
    <button class="header__btn">WATCHED</button>
    <button class="header__btn">QUEUE</button>
  </div>
  <div class="headerinput-wrapper disabled">
    <form class="form">
      <label for="" class="headerlabel">
        <input type="text" class="headerinput" placeholder="Movie search" />
        <img
          src="./images/SVG/search.svg"
          alt="Icon search"
          class="headerinput-icon"
        />
      </label>
      <button type="submit" class="form-button">GO</button>
    </form>
  </div>
</header>
