<div class="registration-modal">
  <div class="modal-content">
    <button class="tab-change-btn sign-in active" data-sign-in-tab>
      SIGN IN
    </button>
    <button class="tab-change-btn login non-active" data-new-account-tab>
      NEW ACCOUNT
    </button>
    <button class="modal-btn">
      <img
        src="./images/SVG/close-icon.svg"
        alt="Close icon"
        width="20"
        height="20"
      />
    </button>
    <form name="Registration" class="registration-form">
      <label for="email" class="registration-modal-label">
        <div class="icon-wrapper">
          <img
            src="./images/SVG/email-icon.svg"
            alt="Email icon"
            width="25"
            height="20"
            class="email-icon"
          />
          <p class="registration-modal-text">Your email:</p>
        </div>
        <input
          type="email"
          id="email"
          class="registration-modal-input"
          placeholder="mivina-team@goit.com"
        />
      </label>
      <label for="password" class="registration-modal-label">
        <div class="icon-wrapper">
          <img
            src="./images/SVG/lock-icon.svg"
            alt="Icon password"
            width="25"
            height="20"
            class="lock-icon"
          />
          <p class="registration-modal-text">Your password:</p>
        </div>
        <input
          type="password"
          id="password"
          class="registration-modal-input"
          minlength="6"
          placeholder="Password"
        />
      </label>
      <button class="tab-change-btn cancel">CANCEL</button>
      <button type="submit" class="tab-change-btn start" data-login-button>
        LOGIN
      </button>
    </form>
  </div>
</div>
