.header-section {
  padding-top: 40px;

  background-repeat: no-repeat;

  @media screen and (max-width: 320px) {
    background-image: url(../images/header-background-mob-1x-min.jpg);
    background-size: 100% 100%;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/header-background-mob-2x-min.jpg);
    }
  }

  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-image: url(../images/header-bgc-tab-1x-min.jpg);
    background-size: 100% 100%;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/header-bgc-tab-2x-min.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: url(../images/desk-header-1x-min.jpg);
    background-size: 100% 100%;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/desk-header-2x-min.jpg);
    }
  }

  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 80px;
  }
}

.header-section-library {
  padding-bottom: 93px;

  @media screen and (max-width: 320px) {
    background-image: url(../images/header-mob-watched-queue-1x-min.jpg);
    background-size: 100% 100%;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/header-mob-watched-queue-2x-min.jpg);
    }
  }

  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-image: url(../images/header-tab-watched-queue-1x-min.jpg);
    background-size: 100% 100%;

    padding-bottom: 103px;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/header-tab-watched-queue-2x-min.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: url(../images/header-desk-watched-queue-1x-min.jpg);
    background-size: 100% 100%;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/header-desk-watched-queue-2x-min.jpg);
    }
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.header__wrapper-libraty {
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.form {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

// .form-button {
//   background-color: transparent;
//   border: none;
// }

// .form-button:hover {
//   color: orange;
// }

.headerinput-wrapper {
  display: flex;
  align-items: center;
}

.headerinput {
  width: 100%;
  padding: 0 0 4px 0;

  color: #ffffff;
  font-size: 14px;
  line-height: calc(16 / 14);

  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;

  &::placeholder {
    color: #fff;
  }
}

.headerinput-icon {
  position: absolute;
  top: 5px;
  right: 0px;
  display: inline;
}
