.header-section {
  padding-top: 40px;

  background-repeat: no-repeat;

  @media screen and (max-width: 320px) {
    background-image: url(../images/header-background-mob-1x-min.jpg);
    background-size: 100% 100%;
  }

  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-image: url(../images/header-bgc-tab-1x-min.jpg);
    background-size: 100% 100%;
  }
  @media screen and (min-width: 769px) {
    background-image: url(../images/desk-header-1x-min.jpg);
    background-size: 100% 100%;
  }

  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 80px;
  }
}

.header-section-library {
  padding-bottom: 62px;

  @media screen and (max-width: 320px) {
    background-image: url(../images/header-mob-watched-queue-1x-min.jpg);
    background-size: 100% 100%;
  }

  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-image: url(../images/header-tab-watched-queue-1x-min.jpg);
    background-size: 100% 100%;
  }

  @media screen and (min-width: 769px) {
    background-image: url(../images/header-desk-watched-queue-1x-min.jpg);
    background-size: 100% 100%;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.header__wrapper-libraty {
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
