.header-section {
  padding-top: 40px;

  background-repeat: no-repeat;

  @media screen and (max-width: 320px) {
    background-image: url(../images/header-background-mob-1x-min.jpg);
    background-size: 100% 100%;
  }

  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-image: url(../images/header-bgc-tab-1x-min.jpg);
    background-size: 100% 100%;
  }

  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 467px) {
    margin-bottom: 60px;
  }
}
