.header__input {
  display: block;

  max-width: 320px;
  width: 100%;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}

.header__input::placeholder {
  font-size: 14px;
  line-height: 1.43;

  color: #ffffff;
}

.header__input-wrapper {
  display: flex;
  justify-content: center;
}

.header__label {
  position: relative;

  max-width: 320px;
  width: 100%;
}

.header__input-icon {
  position: absolute;
  top: 5px;
  right: 0;
}
